.buttonsContainer {
    display: flex;
    gap: 15px;
}

.responseContainer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
    font-weight: 600;
    font-size: 1.5em;
}

.text {
}
.info {
}