.buttonsContainer {
    display: flex;
    margin-top: 33px;
    gap:21px;
}

.clock {
}

.watch {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.watch strong {
    font-weight: bold;
}

.more {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.5);
}