.App {
    --header_height: 60px;
    color:var(--main-color)
}

.hw {
    margin-left: 2%;
    margin-right: 2%;
    /*width: 1200px;*/
}

.hwTitle {
    border-bottom: 1px solid #d9d9d9;
    border-bottom: 1px solid var(--gray);
    font-size: 1.375rem;
    font-weight: 600;
    margin: 0 0 1.5rem;
    padding: 2.5rem 0 .625rem;
}

.hwTitle p{
    /*margin: 0 auto;*/
    /*padding: 0 1.25rem;*/
    /*width: 1200px;*/
    margin-left: 2%;
    margin-right: 2%;
    color:var(--main-color);
}

.messagesContainer{
    display: flex;
    flex-direction: column;
    width:100%;
}


