.friendMessage {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 1.875rem;
}

.friendImageAndText {
    align-items: end;
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
}

.friendImageAndText img {
    flex: 0 0 3rem;
    max-width: 3rem;
}

.friendText {
    background-color: var(--light);
    border-radius: .625rem .625rem .625rem 0;
    color: var(--dark);
    -webkit-filter: drop-shadow(0 1px 2px rgba(29,33,38,.1));
    filter: drop-shadow(0 1px 2px rgba(29,33,38,.1));
    margin-left: .75rem;
    max-width: 65%;
    padding: var(--message-py) var(--message-px);
    position: relative;
}

.friendText:after {
    border-color: transparent transparent var(--light) transparent;
    border-style: solid;
    border-width: 0 0 .75rem .75rem;
    bottom: 0;
    content: "";
    height: 0;
    left: -.75rem;
    position: absolute;
    width: 0;
    z-index: -1;
}

.friendName {
    font-size: 1.125rem;
    font-weight: 600;
}

.friendMessageText {
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
}

.friendTime {
    flex: 0 0 3rem;
    font-size: .625rem;
    font-weight: 600;
    justify-self: start;
    margin-top: .313rem;
    max-width: 3rem;
    text-align: center;
}
