.sendForm {
    display: flex;
    padding-top: 1.625rem;
}

.textarea {
    background: var(--light);
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    box-shadow: 0 5px 20px rgba(29,33,38,.03),0 1px 2px rgba(29,33,38,.1);
    color: var(--dark);
    display: block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25;
    outline-color: var(--light);
    overflow: hidden;
    padding: .75rem 1.75rem;
    resize: none;
    transition: color .4s cubic-bezier(.445,.05,.55,.95),background-color .4s cubic-bezier(.445,.05,.55,.95),border-color .4s cubic-bezier(.445,.05,.55,.95),box-shadow .4s cubic-bezier(.445,.05,.55,.95),outline-color .4s cubic-bezier(.445,.05,.55,.95);
    width: 100%;
    height:42px;
}

.button {
    background-color: var(--blue);
    border: 1px solid transparent;
    border-radius: 2.875rem;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    height: 2.5rem;
    line-height: 1.25;
    margin-left: 2.75rem;
    padding: .625rem 2.5rem;
    text-align: center;
    transition: color .4s cubic-bezier(.445,.05,.55,.95),background-color .4s cubic-bezier(.445,.05,.55,.95),border-color .4s cubic-bezier(.445,.05,.55,.95),box-shadow .4s cubic-bezier(.445,.05,.55,.95);
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button:hover {

}
.button:active {

}
