.burgerMenuIcon{
    margin-left: 30px;
}

.burgerMenuIcon{
    color: red;
}

svg path {
    fill: var(--main-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: var(--background);
    box-shadow: var(--box-shadow);
}

.header h1 {
    margin-right: 30px;
    color: var(--main-color);
}